/* universal style  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;

}

header, main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

section,
header {
    margin-bottom: 120px;
}


.banner {
    background: url('../images/Banner Image001.png'), rgba(21, 9, 36, 0.479);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 430px;
    max-width: 1320px;
    margin: 50px auto;
}

.banner .banner-text {
    width: 50%;
    /* margin: 130px auto; */
    color: #ffffff;
    text-align: center;
    font-family: Merriweather, sans-serif;
}

.banner .banner-text h2 {
    font-size: 26px;

}

.banner .banner-text h1 {
    font-size: 60px;
    font-weight: 900;
}

.offer-img {
    height: 350px;
}


.welcome {
    background-image: url('../images/Vectorrr.png'), linear-gradient(to right, #1e063f, #1e063f00);
    background-blend-mode: overlay;
    background-size: cover;
    border-radius: 16px;

}

.welcome-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.welcome-text {
    width: 50%;
    text-align: left;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.welcome-text h3 {

    font-size: 50px;
    font-weight: 900;

}

.welcome-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
}

.welcome-text button {

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
    background: none;
    border: 0;
    cursor: pointer;
}

.welcome-img {
    margin-right: 40px;
}

.event {
    background: linear-gradient(to bottom, rgba(243, 224, 227, 0.822), rgba(243, 224, 227, 0.01));
    border-radius: 16px;
    padding: 100px;

}

.event-detail {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.red {
    color: red;
}

.red-btn {
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 20px 32px;
    border-radius: 8px;
    border: 0;
    margin-top: 48px;
}

.mid-section {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
}

.mid-section p {
    font-size: 18px;
}


.mid-left {
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mid-left h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 18px 0;
}

.mid-left h3 {
    font-size: 24px;
}

.circle-img {
    border: 15px solid red;
    padding: 30px;
    width: auto;
    border-radius: 50%;
    margin: 0 30px;

}

.circle-img img {
    width: 350px;
    height: 350px;
}

.mid-right {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    /* border: 3px solid; */
    /* margin-left: 20px; */
}

.mid-right h2 {
    font-size: 40px;
    margin-bottom: 16px;
}

.mid-right .new-year-img {
    margin-top: 30px;
}



.offer {
    text-align: center;
    font-family: Inter;

}

.offer h2 {
    font-size: 78px;
    font-weight: 700;
    margin-bottom: 48px;
}

.offer .holiday {
    font-size: 24px;
    font-weight: 500;
}

.offer .catagory {
    font-size: 48px;
    font-weight: 700;
    margin: 20px;
}

.offer-img {
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
    max-height: 500px;
}

/* sale section styles */
.text-container{
    text-align: center;
    margin-bottom: 64px;
}
.text-container h2{
    font-size: 72px;    
    font-weight: 900;
    margin: 20px 0;
}
.text-container h4{
    font-size: 32px;
}
.text-container p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



/* discount section */
.discount-container{
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    width: fit-content;
    margin-left: auto;
    position: relative;
    /* background: rgb(81, 30, 223); */
}
.discount-container .discount{
    position:absolute;
    /* background: blue; */
    left: -150px;
}
.red-div{
    background-color: red;
    height: 230px;
    position: relative;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.red-div .gift-box{
    position: absolute;
    bottom: 76px;
    left: 34px;
}








/* awsome product styles */
.awsome-produsts div h3 {
    font-size: 40px;
    margin: 15px 0;
}

.awsome-produsts div h4 {
    font-size: 24px;
    /* margin: 22px 0; */
}

.awsome-produsts div p {
    width: 60%;
}

.awsome-produsts .products {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

}

.products img {
    width: 350px;
    border-radius: 16px;
}

/* newsletter */

.newsletter-background {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 2%;
    padding: 80px;
}

.newsletter-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-title {
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.newsletter-desc {
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.input {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.input input[type="email"] {
    width: 500px;
    border: 0;
    border-radius: 50px 0 0 50px;
}
#mail{
    padding-left: 30px;
    font-size: 20px;
}

.subscribe-button {
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 20px 32px;
    border: 0;
    border-radius: 0 50px 50px 0;
}

/* footer styles */

footer {
    background-color: #070211;
    padding: 100px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
}

.footer-top {
    display: flex;
    column-gap: 100px;
}

.footer-column {
    width: 50%;
    font-weight: 500;
}

.footer-column-right {
    padding-left: 320px;
}

.footer-contact {
    display: flex;
    gap: 20px;
}

.footer-contact img {
    width: 30px;

}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links img {
    margin-right: 20px;
}

footer hr {
    color: rgba(255, 255, 255, 0.15);
    margin: 50px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;

}